.user-dropdown-container {
    position: relative;
}

.user-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 150px;
    z-index: 1000;
}

.user-dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.user-dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.arrow-icon {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.arrow-icon.open {
    transform: rotate(-135deg);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
}

.navbar-logo h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
    color: #2c2c2c;
}

.navbar-logo span {
    font-size: 0.8rem;
    color: #8e8e8e;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.navbar-links li {
    display: inline;
}

.navbar-links a {
    text-decoration: none;
    color: #4a4a4a;
    font-weight: 500;
}

.navbar-links a:hover {
    color: #3498db;
}

.navbar-buttons {
    display: flex;
    gap: 12px;
}

.login-btn {
    border: 1px solid #3498db;
    background-color: transparent;
    color: #3498db;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.signup-btn {
    background-color: #175FC4;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover, .signup-btn:hover {
    opacity: 0.9;
}

.active {
    color: #175FC4 !important;
    font-weight: bold !important;
}

body {
    padding-top: 80px;
}