body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
}

h1, h2, h3, h4, h5, h6, div, span {
  font-family: 'Roboto';
}
.event-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  max-width: 280px;
}

.event-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
