body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold !important;
}

h1, h2, h3, h4, h5, h6, div, span {
  font-family: 'Roboto';
}

